* {
  margin: 0;
  padding: 0;
}
.card {
  width: 100%;
  height: 100vh;
  background-image: url(./images/Battery_life.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.life1 {
  width: 53px;
  height: 112px;
  background: #31fc4a;
  position: absolute;
  top: 387px;
  left: 751px;
}
.life2 {
  width: 53px;
  height: 112px;
  background: #31fc4a;
  position: absolute;
  top: 387px;
  left: 808px;
}
.life3 {
  width: 53px;
  height: 112px;
  background: #31fc4a;
  position: absolute;
  top: 387px;
  left: 865px;
}
.life4 {
  width: 53px;
  height: 112px;
  background: #31fc4a;
  position: absolute;
  top: 387px;
  left: 923px;
}
.life5 {
  width: 53px;
  height: 112px;
  background: #31fc4a;
  position: absolute;
  top: 387px;
  left: 981px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.life6 {
  width: 55px;
  height: 112px;
  background: #31fc4a;
  position: absolute;
  top: 387px;
  left: 691px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
h1 {
  position: absolute;
  color: white;
  top: 525px;
  left: 753px;
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
}
